p.caption {
  color: #777;
  font-size: smaller;
  margin-top: 10px;
}

caption {
  color: #777;
  font-size: smaller;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.level1 h1 {
  border-bottom: 3px solid;
  font-variant: small-caps;
}

.level2 h2 {
  border-bottom: 2px solid;
}

.level3 h3 {
  border-bottom: 1px solid;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 4px solid;
}

.level2 .header-section-number {
  border-bottom: 3px solid;
}

.level3 .header-section-number {
  border-bottom: 2px solid;
}

code {
  white-space : pre-wrap !important;
}

iframe {
  width: 100%;
}